<form action="" method="POST" >
    <input type="hidden" name="id" value="<%=id %>" >
    <input type="text" name="first_name" value="<%=first_name %>" />
    <input type="text" name="last_name" value="<%=last_name %>"  />
    <input type="submit" value="Submit">
</form>